In [1]:
1234

1234

In [2]:
-100

-100

In [5]:
덧셈 = 10 + 3
뺄셈 = 10 - 3
나눗셈 = 10 / 3 
정수나눗셈 = 10 // 3
나머지 = 10 % 3
지수 = 10 ** 3
print(덧셈, 뺄셈, 나눗셈, 정수나눗셈, 나머지, 지수)

13 7 3.3333333333333335 3 1 1000

In [6]:
c = 60
나누기 = c / 8
정수나누기 = c // 8
나머지 = c % 8
print(나누기, 정수나누기, 나머지)

7.5 7 4

In [10]:
a = 3.14
int(a)

3

In [9]:
b = 3
float(b)

3.0

In [16]:
multi_lines = '''
dlkfjalksjdflkjdsflkjdsflj니ㅏㅓㅁㅇ리ㅏㅓ미아ㅓㄹ
ㅁ이ㅏㅓ리ㅏㅓㄴ이라ㅓㅇ리ㅏㅓ
'''
# multi_lines
print(multi_lines)

dlkfjalksjdflkjdsflkjdsflj니ㅏㅓㅁㅇ리ㅏㅓ미아ㅓㄹ
ㅁ이ㅏㅓ리ㅏㅓㄴ이라ㅓㅇ리ㅏㅓ

In [13]:
str1 = '안녕'
str2 = '하세요'
str3 = str1 + str2
print(str3)

안녕하세요

In [18]:
str1 * 10

'안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕'

In [39]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

print(sample_list2[4:7:2])
sample_list = ['a', 'b', 'c', 'd']
sample_list[2] = 'C'
print(sample_list)

['May', 'Jul']
['a', 'b', 'C', 'd']

In [77]:
quarters = sample_list2[::3]
print(quarters)

['Jan', 'Apr', 'Jul', 'Oct']

In [79]:
last_three = sample_list2[:-4:-1]
print(last_three)

['Dec', 'Nov', 'Oct']

In [80]:
reverse_two_steps=sample_list2[::-2]
print(reverse_two_steps)

['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']

In [90]:
fruits = ['apple', 'banana', 'melon']

fruits.insert(1,'mango')
print(fruits)
fruits.insert(100,'pineapple')
print(fruits)

['apple', 'mango', 'banana', 'melon']
['apple', 'mango', 'banana', 'melon', 'pineapple']

In [91]:
del fruits[-1]
fruits

['apple', 'mango', 'banana', 'melon']

In [98]:
'apple' in fruits

True

In [100]:
fruits.count('apple')

1

In [101]:
list1 = ['b', 'c', 'a', 'f', 'e', 'd']
list_ori = list1.copy()
list1

['b', 'c', 'a', 'f', 'e', 'd']

In [102]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [103]:
list1.sort()

In [104]:
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [106]:
list_ori
result = sorted(list_ori)

In [107]:
print(result)

['a', 'b', 'c', 'd', 'e', 'f']

In [109]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [111]:
list1 = ['a', 'b', 'c']
list2 = list1
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['A', 'b', 'c']

In [112]:
list1 = ['a','b','c']
list2 = list1.copy()
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['a', 'b', 'c']

In [118]:
a = 3,5,
print(type(a))

<class 'tuple'>

In [120]:
a,b,c,d = fruits
print(a,b,c,d)

apple mango banana melon

In [165]:
a = 'Fastcampus'
b = tuple(a)
print(type(b))
print(b)
''.join(b)

<class 'tuple'>
('F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

'Fastcampus'

In [158]:
c = list(b)
print(c)

['F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']

In [3]:
fruits = {
    'apple': '사과',
    'banana': '바나나',
    'cherry': '체리'
}
print(fruits)

{'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [19]:
fruits_set = set(fruits)
print(fruits_set)

{'cherry', 'banana', 'apple'}

In [36]:
'durian' in fruits_set

False

In [35]:
fruits['apple']

'사과'

In [42]:
girlgroups = {
    'girlsday':{
        'korean':'걸스데이',
        'members':'민아,혜리,소진,유라'.split(',')
    },
    'redvelvet':{
        'korean':'레드벨벳',
        'members':'아이린,슬기,웬디,조이,예리'.split(',')
    },
}

In [43]:
girlgroups

{'girlsday': {'korean': '걸스데이', 'members': ['민아', '혜리', '소진', '유라']},
 'redvelvet': {'korean': '레드벨벳', 'members': ['아이린', '슬기', '웬디', '조이', '예리']}}

In [54]:
girlgroups.keys()

dict_keys(['girlsday', 'redvelvet'])

In [55]:
girlgroups['girlsday'].keys()

dict_keys(['korean', 'members'])

In [58]:
girlgroups['redvelvet'].values()

dict_values(['레드벨벳', ['아이린', '슬기', '웬디', '조이', '예리']])

In [65]:
x = {1,2,3,4,5,6,8}
y = {4,5,6,9,10,11}
z = {4,6,8,9,7,10,12}

In [67]:
x&y&z

{4, 6}

In [68]:
y&z-x

{9, 10}

In [69]:
x|y-y

{1, 2, 3, 4, 5, 6, 8}