In [15]:
is_holiday = True

if is_holiday:
    print('Good')
else:
    print('Bad')

Good

In [16]:
print('Good') if is_holiday else print('Bad')

Good

In [22]:
result = print('Good') if is_holiday else print('Bad')

Good

In [23]:
result = 'Good' if is_holiday else 'Bad'

In [24]:
print(result)

Good

In [32]:
if is_holiday:
    result = 'Good'
else:
    result = 'Bad'
print(result)

Good

In [39]:
vacation = 8
if vacation >= 7:
    result = 'Good'
elif vacation >= 5:
    result = 'Normal'
else:
    result = 'Bad'

In [40]:
print(result)

Good

In [42]:
result = 'Good' if vacation >=7 else 'Norma' if vacation >= 5 else 'Bad'

In [43]:
print(result)

Good

In [44]:
sample = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

In [45]:
print(sample)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [56]:
for a in sample:
    print(a)
    for b in a:
        print(b)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

In [155]:
find = 4

In [156]:
for item in sample:
    if find in item:
        print(f'{find}을/를 찾았음')
        break
else:
    print(f'{find}을/를 못찾음')

4을/를 찾았음

In [159]:
found = False
for item in sample:
    if find in item:
        print(f'{find}을/를 찾았음')
        found = True
        break
if not found:
    print(f'{find}을/를 못찾음')

4을/를 찾았음

In [165]:
fruits = 'apple,banana,melon'.split(',')
colors = 'red,yellow,green,purple'.split(',')

In [167]:
for fruit, color in zip(fruits, colors):
    print('fruit:', fruit, 'color:', color)

fruit: apple color: red
fruit: banana color: yellow
fruit: melon color: green

In [177]:
for index, a in enumerate(fruits):
    print(index, a)

0 apple
1 banana
2 melon

In [180]:
short_list = fruits
long_list = colors

if len(fruits) > len(colors):
    short_list = colors
    long_list = fruits

for index, item in enumerate(short_list):
    print(long_list[index],item,)

red apple
yellow banana
green melon

In [7]:
numbers = []
for i in range(1,6):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [12]:
 [i for i in range(2,12,2)]

[2, 4, 6, 8, 10]

In [14]:
[i * 2 for i in range(1,6)]

[2, 4, 6, 8, 10]

In [15]:
[i for i in range(1,6) if i % 2 == 0]

[2, 4]

In [22]:
for i in range(0,7):
    for a in range(0,4):
        print((i,a))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(5, 0)
(5, 1)
(5, 2)
(5, 3)
(6, 0)
(6, 1)
(6, 2)
(6, 3)

In [39]:
[(i,a) for i in range(0,7) for a in range(0,4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3)]

In [42]:
for i in range(0,7):
    if i % 2 == 0:
        for a in range(0,4):
            if a % 2 == 0:
                print (i,a)

0 0
0 2
2 0
2 2
4 0
4 2
6 0
6 2

In [48]:
result = 0
for i in range(1000,2001):
    if i % 2 != 0:
        result = result + i
print(result)

750000

In [64]:
[f'{a} X {b} = {a*b}' for a in range(2,10) for b in range(1,10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [71]:
for x in range(2,10):
    print(f'{x}단')

    for y in range(1,10):
        print(f'{x} X {y} = {x*y}')
    print('')

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [72]:
table = [x*y for x in range(2,10) for y in range(1,10)]

In [83]:
for index, item in enumerate(table):
    if index % 9 == 0:
        print(f'{item}단')
        
    print(index + 1, item)
    if index % 9 == 8:
        print('')

2단
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18

3단
10 3
11 6
12 9
13 12
14 15
15 18
16 21
17 24
18 27

4단
19 4
20 8
21 12
22 16
23 20
24 24
25 28
26 32
27 36

5단
28 5
29 10
30 15
31 20
32 25
33 30
34 35
35 40
36 45

6단
37 6
38 12
39 18
40 24
41 30
42 36
43 42
44 48
45 54

7단
46 7
47 14
48 21
49 28
50 35
51 42
52 49
53 56
54 63

8단
55 8
56 16
57 24
58 32
59 40
60 48
61 56
62 64
63 72

9단
64 9
65 18
66 27
67 36
68 45
69 54
70 63
71 72
72 81

# 함수

In [1]:
def student(name, age, gender):
    return {
        'name':name,
        'age' :age,
        'gender': gender,
    }

In [2]:
s1 = student('psm',31,'man')
s2 = student('psj', 27, 'man')
s3 = student(gender='man', name = 'pgh', age = 31)

In [3]:
print(s1)
print(type(s1))

{'name': 'psm', 'age': 31, 'gender': 'man'}
<class 'dict'>

In [14]:
print(s2)
print(s3)

{'name': 'psj', 'age': 27, 'gender': 'man'}
{'name': 'pgh', 'age': 31, 'gender': 'man'}

# 내부함수

In [5]:
def print_call_function():
    print('call_function!')

In [8]:
def run_function(f):
    f()

In [9]:
run_function(print_call_function)

call_function!

# 스코프

In [20]:
champion = 'Lux'

def show_global_champion():
    print(f'show_global_champion:{champion}')
    
show_global_champion()
print(f'print champion: {champion}')

show_global_champion:Lux
print champion: Lux

In [22]:
champion = 'Lux'

def show_global_champion():
    print(f'show_global_champion:{champion}')

def change_global_champion():
#     print(f'before change_global: {champion}')
    champion = 'Ahri'
    print(f'after change_global: {champion}')
    
show_global_champion()
change_global_champion()
print(f'print champion: {champion}')

show_global_champion:Lux
after change_global: Ahri
print champion: Lux

In [41]:
champion = 'Lux'

def change_global_champion():
    global champion
    champion = 'Ahri'


change_global_champion()
print(f'print global: {champion}')

print global: Ahri

In [49]:
champion = 'Lux'

def local1():
    champion = 'Ahri'
    print(f'local locals(): {locals()}')
    
    def local2():
        champion = 'Ezeal'
        print(f'local2 locals(): {locals()}')
        
print(f'global champion: {champion}')  
local1()

global champion: Lux
local locals(): {'champion': 'Ahri'}

In [66]:
global_level = 100
def level_add(value):
    value += 30
    print(value)
    
level_add(global_level)    
print(global_level)

130
100

In [77]:
global_levels = 100

def level_add():
    global global_levels
    global_levels += 30
    print(global_levels)
    
print(global_levels)    
level_add()
print(global_levels)

100
130
130

In [82]:
global_list = []

def list_add(value):
    value.append('a')
    print(value)
    
print(global_list)
list_add(global_list)
print(global_list)

[]
['a']
['a']

In [83]:
def do_function(arg, function):
    return function(arg)

In [97]:
do_function('abcd', len)

4

In [98]:
do_function('abcd',id)

4376936264

In [109]:
def do_function(arg, function):
    return function(arg.upper())

In [110]:
do_function('adsf',str)

'ADSF'

In [113]:
def return_value_upper(value):
    return value.upper()

def do_function(arg, function=None):
    if not function:
        function = return_value_upper
    return function(arg)

do_function('a')

'A'

In [114]:
def return_value_upper(value):
    return value.upper()

def do_function(arg, function=return_value_upper):
    return function(arg)

do_function('a')

'A'

In [140]:
def do_function(arg, function=lambda value: value.upper()):
    return function(arg)

do_function('a')

'A'

# 내부함수 클로져

In [134]:
level = 0

def outer():
    level = 50
    
    def inner():
        nonlocal level
        level += 3
        print(level)
    return inner

f1 = outer()

f1()

53

In [137]:
f1()

62

In [138]:
f2 = outer()

In [139]:
f2()

53

# 데코레이터

In [6]:
def square(x):
    result = x **2
    print('입력값은 :', x)
    print('결과는 :', result)
    return result

def multi(x,y):
    result = x*y
    print('입력값은 :', x,y)
    print('결과값은 :', result)
    return result

In [7]:
result1 = square(3)

입력값은 : 3
결과는 : 9

In [8]:
result2 = multi(3,5)

입력값은 : 3 5
결과값은 : 15

In [9]:
def debug(f):
    def wrap(*args, **kwargs):
        result = f(*args, **kwargs)
        return result
        
    return wrap

In [10]:
decorated_square = debug(square)

In [56]:
decorated_square(3)

입력값은 : 3
결과는 : 9

9

# 제네레이터

In [76]:
def range_gen(num):
    i = 0
    while i < num:
        yield i
        i += 1

In [96]:
result = range_gen(10)

In [78]:
print(type(result))
print(result)

<class 'generator'>
<generator object range_gen at 0x10b660990>

In [82]:
for i in result:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [97]:
result.__next__()

0

# 실습

In [120]:
fruit_dict = {
    'red':'apple',
    'yellow':'banana',
    'green':'melon',
}

def fruit(color):
    return fruit_dict.get(color, "I don't know")

In [124]:
fruit('dd')

"I don't know"

In [134]:
def fruit(color):
    if color == 'red':
        result = 'apple'
    elif color == 'yellow':
        result = 'banana'
    elif color == 'green':
        result = 'melon'
    else:
        result = "I don't know"
    
    return result

In [135]:
fruit('red')

'apple'

In [136]:
def fruit(color):
    """
    이 함수는 색깔로 무슨과일이 나오는지 보여주는 함수이다
    """
    if color == 'red':
        result = 'apple'
    elif color == 'yellow':
        result = 'banana'
    elif color == 'green':
        result = 'melon'
    else:
        result = "I don't know"
    
    return result

In [137]:
help(fruit)

Help on function fruit in module __main__:

fruit(color)
    이 함수는 색깔로 무슨과일이 나오는지 보여주는 함수이다

In [157]:
def Squares(a, b=None):
    if b is None:
        result = a ** 2
    else:
        result = a ** b
    return result

In [160]:
Squares(4,5)

1024

In [9]:
def sum_sub(x,y):
    return x + y, x - y if x > y else y - x

In [10]:
sum_sub(3,5)

(8, 2)

In [13]:
def sum_sub(x,y):
    return x + y, abs(x - y)

In [14]:
sum_sub(3,5)

(8, 2)

# 알고리즘

In [156]:
sort_list = [1,6,5,4,3,10,2,8,7,9]
# sort_list = [a,f,b,e,d,g,c]

def sort(a):
    for x in range(len(sort_list) -1):
        for y in range(x + 1, len(sort_list)):
            if sort_list[x] > sort_list[y]:
                sort_list[x], sort_list[y] = sort_list[y], sort_list[x]
   
    return sort_list

In [157]:
sort(sort_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [159]:
def selectionSort(a):
    for x in range(len(a) - 1):
        min_index = x
        for y in range(x + 1, len(a)):
            if a[y] < a[min_index]:
                min_index = y
        
        tmp = a[x]
        a[x] = a[min_index]
        a[min_index] = tmp
    return a

test = [1, 7,4,5,6,2,3]

In [160]:
selectionSort(test)

[1, 2, 3, 4, 5, 6, 7]